<%= form_with(model: @zoo, local: true ) do |form| %>
  <% if @zoo.errors.any? %>
    <div id="error_explanation">
      <h2><%= @zoo.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @zoo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="zoo_column">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="zoo_column">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="zoo_column">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="zoo_column">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div class="zoo_column">
    <%= form.label :summer_workday_open %>
    <%= form.time_select :summer_workday_open %>
  </div>

  <div class="zoo_column">
    <%= form.label :summer_workday_close %>
    <%= form.time_select :summer_workday_close %>
  </div>

  <div class="zoo_column">
    <%= form.label :winter_workday_open %>
    <%= form.time_select :winter_workday_open %>
  </div>

  <div class="zoo_column">
    <%= form.label :winter_workday_close %>
    <%= form.time_select :winter_workday_close %>
  </div>

  <div class="zoo_column">
    <%= form.label :summer_holiday_open %>
    <%= form.time_select :summer_holiday_open %>
  </div>

  <div class="zoo_column">
    <%= form.label :summer_holiday_close %>
    <%= form.time_select :summer_holiday_close %>
  </div>

  <div class="zoo_column">
    <%= form.label :winter_holiday_open %>
    <%= form.time_select :winter_holiday_open %>
  </div>

  <div class="zoo_column">
    <%= form.label :winter_holiday_close %>
    <%= form.time_select :winter_holiday_close %>
  </div>

  <div class="zoo_column">
    <%= form.label :general_price %>
    <%= form.number_field :general_price %>円
  </div>

  <div class="zoo_column">
    <%= form.label :high_school_price %>
    <%= form.number_field :high_school_price %>円
  </div>

  <div class="zoo_column">
    <%= form.label :junior_high_school_price %>
    <%= form.number_field :junior_high_school_price %>円
  </div>

  <div class="zoo_column">
    <%= form.label :primary_price %>
    <%= form.number_field :primary_price %>円
  </div>

  <div class="zoo_column">
    <%= form.label :senior_price %>
    <%= form.number_field :senior_price %>円
  </div>

  <div class="zoo_column">
    <%= form.label :price_comment %>
    <%= form.text_field :price_comment %>
  </div>

  <div class="zoo_column">
    <%= form.label :holiday %>
    <%= form.text_field :holiday %>
  </div>

  <div class="zoo_column">
    <%= form.label :area %>
    <%= form.select :area, Zoo.areas.keys, prompt: "選択してください" %>
  </div>

  <div class="zoo_column">
    <%= form.label :prefecture %>
    <%= form.select :prefecture, Zoo.prefectures.keys.to_a, prompt: "選択してください" %>
  </div>

  <%= form.submit %>
<% end %>
<%= link_to "一覧画面にもどる", zoos_path %>
