<%= form_with(model: @zoo, local: true ) do |form| %>
  <% if @zoo.errors.any? %>
    <div id="error_explanation">
      <h2><%= @zoo.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @zoo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="edit_photo_area">
    <%= form.label :写真, class: "photo_label" %>
    <%= image_tag @zoo.photo.url, class: "show_photo" if @zoo.photo && @zoo.photo.url %>
    <%= form.file_field :photo, class: "edit_photo" %>
  </div>


  <div class="edit_name_area">
    <h2 style = "color:#3399FF; display: inline-block;">*施設名<%= form.text_field :name %></h2>
    <div class="option_area" style="display: inline-block;">
      <% if current_user.admin == true %>
        <%= link_to "一覧画面にもどる", zoos_path, class: "back_btn" %>
      <% end %>
    </div>
  </div>

  <table class="data_space">
    <tr class="address_area">
      <th style = "color:#3399FF">*住所</th>
      <td style = "color:#3399FF">
        <%= form.text_field :address, placeholder:"例) \ 〒000-0000 ○○県○○市○○区1-23-456" %>
        (*地域: <%= form.select :area, Zoo.areas.keys, prompt: "選択してください" %>,
        *県: <%= form.select :prefecture, Zoo.prefectures.keys.to_a, prompt: "選択してください" %>)
      </td>
    </tr>

    <tr class="content_area">
      <th>この施設について</th>
      <td><%= form.text_area :content %></td>
    </tr>

    <tr class="time_area">
      <th>時間</th>
      <td>
      <table class="open_close">
        <tr>
          <th></th><th>開園時間</th><th>閉園時間</th>
        </tr>
        <tr>
          <th>夏(平日):</th>
          <td><%= form.time_select :summer_workday_open, ignore_data:true %></td>
          <td><%= form.time_select :summer_workday_close, ignore_data:true %></td>
        </tr>
        <tr>
          <th>夏(休日):</th>
          <td><%= form.time_select :summer_holiday_open, ignore_data:true %></td>
          <td><%= form.time_select :summer_holiday_close, ignore_data:true %></td>
        </tr>
        <tr>
          <th>冬(平日):</th>
          <td><%= form.time_select :winter_workday_open, ignore_data:true %></td>
          <td><%= form.time_select :winter_workday_close, ignore_data:true %></td>
        </tr>
        <tr>
          <th>冬(休日):</th>
          <td><%= form.time_select :winter_holiday_open, ignore_data:true %></td>
          <td><%= form.time_select :winter_holiday_close, ignore_data:true %></td>
        </tr>
      </table>
      </td>
    </tr>

    <tr class="price_area">
      <th>入場料</th>
      <td>
        <table class="price_table">
          <tr>
            <th></th><th>入場料</th>
          </tr>
          <tr>
            <th style = "color:#3399FF">*一般</th><td style = "color:#3399FF"><%= form.number_field :general_price %>円</td>
          </tr>
          <tr>
            <th>高校生</th><td><%= form.number_field :high_school_price %>円</td>
          </tr>
          <tr>
            <th>中学生</th><td><%= form.number_field :junior_high_school_price %>円</td>
          </tr>
          <tr>
            <th>小学生</th><td><%= form.number_field :primary_price %>円</td>
          </tr>
          <tr>
            <th>シニア</th><td><%= form.number_field :senior_price %>円</td>
          </tr>
          <tr>
            <td colspan="2">コメント
              <%= form.text_field :price_comment, placeholder:"例) 小学生以下は無料です。年間パスポートは○○円です。" %>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="holiday_area">
      <th>休園日</th>
      <td><%= form.text_field :holiday, placeholder:"例) 年末年始  不定休" %></td>
    </tr>

    <tr class="home_page_area">
      <th>ホームページ</th>
      <td><%= form.text_field :home_page, placeholder:"例) URLを貼り付けてください。" %></td>
    </tr>

    <div class="animal_column">
      <th><%= form.label :動物 %></th>
      <td><%= form.collection_check_boxes(:animal_ids, Animal.all, :id, :name) %></td>
    </div>

  </table>


  <%= form.submit "登録", class: "submit_btn" %>
<% end %>
