<h1>動物園一覧</h1>

<div class="new">
  <%= link_to '新規登録', new_zoo_path, class: "new_btn" %>
</div>

<div class="search_result">
  <% @zoos.each do |zoo| %>
    <div class="chunk">
      <div class="photo_area">
        <% if zoo.photo? %>
          <%= image_tag zoo.photo.url, class: "photo" if zoo.photo && zoo.photo.url %>
        <% else %>
          <%= image_tag "zoo_doubutsuen.png", class:"photo"%>
        <% end %>
      </div>
      <div class="name">
        <%= link_to zoo.name, zoo_path(zoo.id), id: "show_btn" %>
      </div>
      <div class="address">
        <%= zoo.address %>
      </div>
      <div class="content">
        <%= zoo.content %>
      </div>
      <div class="option">
        <%= link_to "ホームページをみる", zoo.home_page, class: "home_page" %>
        <% if current_user.admin == true %>
          <%= link_to '編集', edit_zoo_path(zoo.id), class: "option_btn", id: "edit_btn" %>
          <%= link_to '削除', zoo_path(zoo.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "option_btn", id: "delete_btn" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
