<div class="show_area">
  <div class="photo_area">
    <%= image_tag @zoo.photo.url, class: "show_photo" if @zoo.photo && @zoo.photo.url %>
  </div>

  <div class="name_area">
    <h2><%= @zoo.name %></h2>
    <div class="option_area">
      <% if current_user.admin == true %>
        <%= link_to "一覧画面にもどる", zoos_path, class: "back_btn" %>
        <%= link_to '編集', edit_zoo_path(@zoo.id), class: "edit_btn" %>
      <% end %>
    <!-- </div>
    <div class="favorite"> -->
      <% if @favorite_zoo.present? %>
        <%= link_to 'お気に入り解除する', favorite_zoo_path(id: @favorite_zoo.id), method: :delete, class: 'no_favorite_btn' %>
      <% else %>
        <%= link_to 'お気に入りする', favorite_zoos_path(zoo_id: @zoo.id), method: :post, class: 'favorite_btn' %>
      <% end %>
    </div>
  </div>

  <table class="data_space">
    <tr class="address_area">
      <th>住所:</th>
      <td><%= @zoo.address %>(地域: <%= @zoo.area %>, 県: <%= @zoo.prefecture %>)</td>
    </tr>

    <tr class="content_area">
      <th>この施設について</th>
      <td><%= @zoo.content %></td>
    </tr>

    <tr class="time_area">
      <th>時間</th>
      <td>
      <table class="open_close">
        <tr>
          <th></th><th>開園時間</th><th>閉園時間</th>
        </tr>
        <tr>
          <th>夏(平日):</th>
          <td><%= @zoo.summer_workday_open %></td>
          <td><%= @zoo.summer_workday_close %></td>
        </tr>
        <tr>
          <th>夏(休日):</th>
          <td><%= @zoo.summer_holiday_open %></td>
          <td><%= @zoo.summer_holiday_close %></td>
        </tr>
        <tr>
          <th>冬(平日):</th>
          <td><%= @zoo.winter_workday_open %></td>
          <td><%= @zoo.winter_workday_close %></td>
        </tr>
        <tr>
          <th>冬(休日):</th>
          <td><%= @zoo.winter_holiday_open %></td>
          <td><%= @zoo.winter_holiday_close %></td>
        </tr>
      </table>
      </td>
    </tr>

    <tr class="price_area">
      <th>入場料</th>
      <td>
        <table class="price_table">
          <tr>
            <th></th><th>入場料</th>
          </tr>
          <tr>
            <th>一般</th><td><%= @zoo.general_price %>円</td>
          </tr>
          <tr>
            <th>高校生</th><td><%= @zoo.high_school_price %>円</td>
          </tr>
          <tr>
            <th>中学生</th><td><%= @zoo.junior_high_school_price %>円</td>
          </tr>
          <tr>
            <th>小学生</th><td><%= @zoo.primary_price %>円</td>
          </tr>
          <tr>
            <th>シニア</th><td><%= @zoo.senior_price %>円</td>
          </tr>
          <tr>
            <td colspan="2"><%= @zoo.price_comment %></td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="holiday_area">
      <th>休園日: </th>
      <td><%= @zoo.holiday %></td>
    </tr>

    <tr class="home_page_area">
      <th>ホームページ: </th>
      <td><%= link_to @zoo.home_page, @zoo.home_page %></td>
    </tr>
  </table>

  <h3>この動物園にいる動物たち</h3>
  <div class="search_result">
    <% @zoo.animals.each do |animal| %>
      <div class="chunk">
        <div class="photo_area">
          <%= image_tag animal.photo.url, class: "photo" if animal.photo && animal.photo.url %>
        </div>
        <div class="name">
          <%= link_to animal.name, animal_path(animal.id) %>
        </div>
        <div class="content">
          <%= animal.content %>
        </div>
        <div class="option">
          <%= link_to "wikipediaで見る", animal.wikipedia, class: "wikipedia" %>
          <%= link_to '詳細', animal_path(animal.id), class: "option_btn", id: "show_btn" %>
          <%= link_to '編集', edit_animal_path(animal.id), class: "option_btn", id: "edit_btn" %>
          <%= link_to '削除', animal_path(animal.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "option_btn", id: "delete_btn" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
