<h1>詳細画面</h1>
<p>タイトル: <%= @zoo.name %></p>
<p>住所: <%= @zoo.address %></p>
<p>概要: <%= @zoo.content %></p>
<p>写真: <%= @zoo.photo %></p>
<p>開園時間(夏・平日): <%= @zoo.summer_workday_open %></p>
<p>閉園時間(夏・平日): <%= @zoo.summer_workday_close %></p>
<p>開園時間(冬・平日): <%= @zoo.winter_workday_open %></p>
<p>閉園時間(冬・平日): <%= @zoo.winter_workday_close %></p>
<p>開園時間(夏・休日): <%= @zoo.summer_holiday_open %></p>
<p>閉園時間(夏・休日): <%= @zoo.summer_holiday_close %></p>
<p>開園時間(冬・休日): <%= @zoo.winter_holiday_open %></p>
<p>閉園時間(冬・休日): <%= @zoo.winter_holiday_close %></p>
<p>: <%= @zoo.general_price %></p>
<p>: <%= @zoo.high_school_price %></p>
<p>: <%= @zoo.junior_high_school_price %></p>
<p>: <%= @zoo.primary_price %></p>
<p>: <%= @zoo.senior_price %></p>
<p>: <%= @zoo.price_comment %></p>
<p>: <%= @zoo.holiday %></p>
<p>: <%= @zoo.area %></p>
<p>: <%= @zoo.prefecture %></p>
