<h1>マイページ編集</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
<%#= form_with(model: @user, local: true ) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="edit_photo_area">
    <%= form.label :アイコン, class: "photo_label" %>
    <%= image_tag @user.icon.url, class: "show_photo" if @user.icon && @user.icon.url %>
    <%= form.file_field :icon, class: "edit_photo" %>
  </div>

  <div class="edit_name_area">
    <h2 style = "color:#3399FF">*名前<%= form.text_field :name %></h2>
    <div class="option_area">
      <%# if current_user.admin == true %>
        <%= link_to "マイページにもどる", user_path(@user.id), class: "back_btn" %>
      <%# end %>
    </div>
  </div>


<table class="data_space">

  <tr class="email_area">
    <th style = "color:#3399FF">*メールアドレス</th>
    <td colspan="2"><%= form.email_field :email %></td>
  </tr>

  <tr class="password_area">
    <th style = "color:#3399FF">*パスワード</th>
    <td><%= form.password_field :password, placeholder:"パスワードを入力してください" %></td>
    <td><%= form.password_field :password_confirmation, placeholder:"もう一度入力してください" %></td>
  </tr>

  <!-- <tr class="live_prefecture_area">
    <th>住んでいる県</th>
    <td colspan="2"><%#= form.select :prefecture, Zoo.prefectures.to_a, prompt: "選択してください" %></td>
  </tr>

  <tr class="live_prefecture_area">
    <th>よく行く県</th>
    <td colspan="2"><%#= form.select :prefecture, Zoo.prefectures.to_a, prompt: "選択してください" %></td>
  </tr> -->

  <tr class="content_area">
    <th>自己紹介</th>
    <td colspan="2"><%= form.text_area :content %></td>
  </tr>

  <% if current_user.admin == true %>
    <tr class="authority">
      <th>権限</th>
      <td>オーナー権限<%= form.check_box :owner, {}, true, false %></td>
      <td>管理者権限<%= form.check_box :admin, {}, true, false %></td>
    </tr>
  <% end %>

</table>

  <%= form.submit "更新", class: "submit_btn" %>
<% end %>
