<h1>トップページ</h1>

<h3>動物園検索</h3>
<%= search_form_for @q do |f| %>
  <div class="search_column">
    <%= f.label :施設名 %>
    <%= f.search_field :name_cont %>
  </div>
  <div class="search_column">
    <%= f.label :地域 %>
    <%= f.search_field :area_cont %>
  </div>
  <div class="search_column">
    <%= f.label :県 %>
    <%= f.search_field :prefecture_cont %>
  </div>
  <div class="search_column">
    <%= f.label :入場料（一般） %>
    <%= f.search_field :general_price_lteq %>円以下
  </div>
  <div class="search_column">
    <%= f.label :動物 %>
    <%= f.search_field :animals_name_cont %>
  </div>

  <%= f.submit "検索" %>
<% end %>

<h3>動物検索</h3>
<%= search_form_for @p do |f| %>
  <div class="search_column">
    <%= f.label :動物名 %>
    <%= f.search_field :name_cont %>
  </div>
  <div class="search_column">
    <%= f.label :英名 %>
    <%= f.search_field :english_name_cont %>
  </div>
  <div class="search_column">
    <%= f.label :絶滅危惧種 %>
    <%= f.search_field :endangered_species_cont %>
  </div>
  <div class="search_column">
    <%= f.label :門 %>
    <%= f.search_field :phylum_lteq %>
  </div>
  <div class="search_column">
    <%= f.label :網 %>
    <%= f.search_field :animal_class_cont %>
  </div>
  <div class="search_column">
    <%= f.label :目 %>
    <%= f.search_field :order_cont %>
  </div>
  <div class="search_column">
    <%= f.label :科 %>
    <%= f.search_field :family_cont %>
  </div>
  <div class="search_column">
    <%= f.label :属 %>
    <%= f.search_field :genus_cont %>
  </div>
  <div class="search_column">
    <%= f.label :種 %>
    <%= f.search_field :species_cont %>
  </div>
  <div class="search_column">
    <%= f.label :亜種 %>
    <%= f.search_field :subspecies_cont %>
  </div>

  <%= f.submit "検索" %>
<% end %>



<h2>動物園の検索結果</h2>
<ul class="row">
  <% @zoos.each do |zoo| %>
    <li class="col-sm-4 col-md-3">
      <div class="chunk">
        <div class="name">
          施設名:<%= zoo.name %>
        </div>
        <div class="address">
          住所:<%= zoo.address %>
        </div>
        <div class="content">
          概要:<%= zoo.content %>
        </div>
        <div class="photo">
          写真:<%= image_tag zoo.photo.url, class: "photo" if zoo.photo && zoo.photo.url %>
        </div>
        <div class="area">
          地域:<%= zoo.area %>
        </div>
        <div class="prefecture">
          県:<%= zoo.prefecture %>
        </div>
        <div class="prefecture">
          ホームページ:<%= link_to zoo.home_page, zoo.home_page %>
        </div>
        <div class="option">
          <%= link_to '詳細', zoo_path(zoo.id), class: "option_btn" %>
          <%= link_to '編集', edit_zoo_path(zoo.id), class: "option_btn" %>
          <%= link_to '削除', zoo_path(zoo.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "option_btn" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<h2>動物の検索結果</h2>
<ul class="row">
  <% @animals.each do |animal| %>
    <li class="col-sm-4 col-md-3">
      <div class="chunk">
        <div class="name">
          動物名:<%= animal.name %>
        </div>
        <div class="content">
          説明:<%= animal.content %>
        </div>
        <div class="photo">
          写真:<%= image_tag animal.photo.url, class: "photo" if animal.photo && animal.photo.url %>
        </div>
        <div class="wikipedia">
          Wikipedia:<%= link_to animal.wikipedia, animal.wikipedia %>
        </div>
        <div class="option">
          <%= link_to '詳細', animal_path(animal.id), class: "option_btn" %>
          <%= link_to '編集', edit_animal_path(animal.id), class: "option_btn" %>
          <%= link_to '削除', animal_path(animal.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "option_btn" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
