<div class="information">
  <p>Zoo Searchは動物園を動物名や展示方法などから検索できるサービスです。</p>
  <p>「動物園に行きたい！」と思ったとき、行く動物園をどのように決めていますか？ 近くの動物園という方もいるでしょう。</p>
  <p>それもいいですが、適当に決めてしまって「思ったより楽しくなかった…」となってしまってはもったいないです。</p>
  <p>「あの動物が見たい」「自然に近い環境で暮らしてる動物が見たい」「動物に触りたい」など動物園に何を求めているかは人それぞれです。</p>
  <p>このアプリで自分の求めている動物園をみつけて、動物園をより楽しんでください！</p>
</div>

<div class="zoos_search">

    <h3 class="search_title">動物園検索</h3>

    <%= search_form_for @q, as: :q, url: tops_path, local: true do |f| %>
      <div class="search_space">

        <div class="search_column">
          <%= f.label :施設名, class: "zoo_search_label" %>
          <%= f.search_field :name_cont, class: "zoo_name" %>
        </div>
        <div class="search_column">

          <%= f.label :動物, class: "zoo_search_label" %>
          <%= f.search_field :animals_name_cont, class: "zoo_animals_name" %>
        </div>

        <div class="search_column">
          <%= f.label :地域, class: "zoo_search_label" %>

          <%#= f.select :area_eq, Zoo.areas.keys, prompt: "全て", class: "zoo_area" %>
          <%= f.select :area_eq, Zoo.areas{|key,value| [Zoo.areas[key],value]}, prompt: "全て", class: "zoo_area" %>
        <!-- </div>
        <div class="search_column"> -->

          <%= f.label :県, class: "zoo_search_label" %>

          <%#= f.select :prefecture_eq, Zoo.prefectures.keys, prompt: "全て", class: "zoo_prefecture" %>
          <%= f.select :prefecture_eq, Zoo.prefectures{|key,value| [Zoo.prefectures[key],value]}, prompt: "全て", class: "zoo_prefecture" %>
        <!-- </div>
        <div class="search_column"> -->
          <%= f.label :入場料（一般）, class: "zoo_search_label_price" %>
          <%= f.number_field :general_price_lteq, class: "zoo_general_price" %>円以下
        </div>
      </div>

        <div class="search_btn">
          <%= f.submit "動物園を検索", class: "zoo_search_btn" %>
        </div>
    <% end %>
</div>

<div class="animals_search">

    <h3 class="search_title">動物検索</h3>
    <%= search_form_for @p, as: :p, url: tops_path do |s| %>
      <div class="search_space">

        <div class="search_column">
          <%= s.label :動物名 %>
          <%= s.search_field :name_cont, class: "animal_name" %>
        <!-- </div>
        <div class="search_column"> -->
          <%= s.label :英名 %>
          <%= s.search_field :english_name_cont, class: "animal_english_name" %>
        </div>
        <div class="search_column">
          <%= s.label :絶滅危惧種 %>
          <%= s.select :endangered_specy_eq, Animal.endangered_species{|key,value| [Animal.endangered_species[key],value]}, prompt: "全て" %>
        </div>
        <div class="search_column">
          <%= s.label :門 %>
          <%= s.search_field :phylum_lteq, class: "animal_phylum" %>
        <!-- </div>
        <div class="search_column"> -->
          <%= s.label :網 %>
          <%= s.search_field :animal_class_cont, class: "animal_class" %>
        <!-- </div>
        <div class="search_column"> -->
          <%= s.label :目 %>
          <%= s.search_field :order_cont, class: "animal_order" %>
        <!-- </div>
        <div class="search_column"> -->
          <%= s.label :科 %>
          <%= s.search_field :family_cont, class: "animal_family" %>
        <!-- </div>
        <div class="search_column"> -->
          <%= s.label :属 %>
          <%= s.search_field :genus_cont, class: "animal_genus" %>
        <!-- </div>
        <div class="search_column"> -->
          <%= s.label :種 %>
          <%= s.search_field :specy_cont, class: "animal_specy" %>
        <!-- </div>
        <div class="search_column"> -->
          <%= s.label :亜種 %>
          <%= s.search_field :subspecy_cont, class: "animal_subspecy" %>
        </div>
      </div>

        <div class="search_btn">
          <%= s.submit "動物を検索", class: "animal_search_btn" %>
        </div>
    <% end %>
</div>


<ul class="row">
  <li class="col-lg-6">
    <h2>動物園の検索結果</h2>
    <div class="search_result">
        <% @zoos.each do |zoo| %>
          <div class="chunk">
            <div class="photo_area">
              <%= image_tag zoo.photo.url, class: "photo" if zoo.photo && zoo.photo.url %>
            </div>
            <div class="name">
              <%= link_to "#{zoo.name}", zoo_path(zoo.id), id: "show_btn" %>
            </div>
            <div class="address">
              <%= zoo.address %>
            </div>
            <div class="content">
              <%= zoo.content %>
            </div>
            <div class="option">
              <%= link_to "ホームページをみる", zoo.home_page, class: "home_page" %>
            <% if signed_in? && current_user.admin == true %>
                <%= link_to '編集', edit_zoo_path(zoo.id), class: "option_btn", id: "edit_btn" %>
                <%= link_to '削除', zoo_path(zoo.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "option_btn", id: "delete_btn" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </li>

  <li class="col-lg-6">
    <h2>動物の検索結果</h2>
    <div class="search_result">
      <% @animals.each do |animal| %>
        <div class="chunk">
          <div class="photo_area">
            <%= image_tag animal.photo.url, class: "photo" if animal.photo && animal.photo.url %>
          </div>
          <div class="name">
            <%= link_to animal.name, animal_path(animal.id), id: "show_btn" %>
          </div>
          <div class="content">
            <%= animal.content %>
          </div>
          <div class="option">
            <%= link_to "wikipediaで見る", animal.wikipedia, class: "wikipedia" %>
            <% if signed_in? && current_user.admin == true %>
              <%= link_to '編集', edit_animal_path(animal.id), class: "option_btn", id: "edit_btn" %>
              <%= link_to '削除', animal_path(animal.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "option_btn", id: "delete_btn" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </li>
</ul>
