<h1>マイページ編集</h1>
<%= form_with(model: @user, local: true ) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="edit_photo_area">
    <%= form.label :アイコン, class: "photo_label" %>
    <%= image_tag @user.icon.url, class: "show_photo" if @user.icon && @user.icon.url %>
    <%= form.file_field :icon, class: "edit_photo" %>
  </div>

  <div class="edit_name_area">
    <h2>名前<%= form.text_field :name %></h2>
    <div class="option_area">
      <%# if current_user.admin == true %>
        <%= link_to "マイページにもどる", user_path(@user.id), class: "back_btn" %>
      <%# end %>
    </div>
  </div>

<table class="data_space">

  <tr class="email_area">
    <th>メールアドレス</th>
    <td><%= form.email_field :email %></td>
  </tr>

  <tr class="password_area">
    <th>パスワード</th>
    <td>
      <%= form.email_field :email %>
      <%= form.password_field :password_confirmation %>
    </td>
  </tr>

  <tr class="live_prefecture_area">
    <th>住んでいる県</th>
    <td><%= form.select :prefecture, Zoo.prefectures.keys.to_a, prompt: "選択してください" %></td>
  </tr>

  <tr class="live_prefecture_area">
    <th>よく行く県</th>
    <td><%= form.select :prefecture, Zoo.prefectures.keys.to_a, prompt: "選択してください" %></td>
  </tr>

  <tr class="content_area">
    <th>自己紹介</th>
    <td><%= form.text_area :content %></td>
  </tr>

</table>

  <%= form.submit %>
<% end %>
