<div class="show_area">
  <div class="photo_area">
    <%= image_tag @user.icon.url, class: "show_icon" if @user.icon && @user.icon.url %>
  </div>

  <div class="name_area">
    <h2><%= @user.name %> さんのページ</h2>
    <div class="option_area">
      <% if current_user.admin == true %>
        <%= link_to "一覧画面にもどる", admin_users_path, class: "back_btn" %>
        <%= link_to '編集', edit_user_path(id: @user.id), class: "edit_btn" %>
      <% end %>
    </div>
  </div>

  <table class="data_space">
    <tr class="email_area">
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <tr class="scientific_name_area">
      <th>住んでいる県</th>
      <td><%= @user.live_prefecture %></td>
    </tr>

    <tr class="scientific_name_area">
      <th>よく行く県</th>
      <td><%= @user.favorite_prefecture %></td>
    </tr>

    <tr class="content_area">
      <th>自己紹介</th>
      <td><%= @user.content %></td>
    </tr>
  </table>


  <ul class="row">
    <li class="col-lg-6">

      <h2>お気に入りの動物園</h2>
      <div class="search_result">
    <% @favorite_zoo_list.each do |zoo| %>
        <div class="chunk">
          <div class="photo_area">
            <%= image_tag zoo.photo.url, class: "photo" if zoo.photo && zoo.photo.url %>
          </div>
          <div class="name">
            <%= link_to zoo.name, zoo_path(zoo.id), id: "show_btn" %>
          </div>
          <div class="address">
            <%= zoo.address %>
          </div>
          <div class="content">
            <%= zoo.content %>
          </div>
          <div class="option">
            <%= link_to "ホームページをみる", zoo.home_page, class: "home_page" %>
            <% if signed_in? && current_user.admin == true %>
              <%= link_to '編集', edit_zoo_path(zoo.id), class: "option_btn" %>
              <%= link_to '削除', zoo_path(zoo.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "option_btn" %>
            <% end %>
          </div>
        </div>
    <% end %>
    </div>

    </li>

    <li class="col-lg-6">

  <h2>お気に入りの動物</h2>
  <div class="search_result">
    <% @favorite_animal_list.each do |animal| %>
        <div class="chunk">
          <div class="photo_area">
            <%= image_tag animal.photo.url, class: "photo" if animal.photo && animal.photo.url %>
          </div>
          <div class="name">
            <%= link_to animal.name, animal_path(animal.id), id: "show_btn" %>
          </div>
          <div class="english_name">
            <%= animal.english_name %>
          </div>
          <div class="content">
            <%= animal.content %>
          </div>
          <div class="option">
            <%= link_to "wikipediaをみる", animal.wikipedia, class: "wikipedia" %>
            <% if signed_in? && current_user.admin == true %>
              <%= link_to '編集', edit_animal_path(animal.id), class: "option_btn" %>
              <%= link_to '削除', animal_path(animal.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "option_btn" %>
            <% end %>
          </div>
        </div>
    <% end %>
</div>
</li>
</ul>


</div>
