<%= form_with(model: @animal, local: true ) do |form| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= @animal.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @animal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="animal_column">
    *<%= form.label :動物名 %>
    <%= form.text_field :name %>
  </div>

  <div class="animal_column">
    *<%= form.label :英名 %>
    <%= form.text_field :english_name %>
  </div>

  <div class="animal_column">
    *<%= form.label :学名 %>
    <%= form.text_field :scientific_name %>
  </div>

  <div class="animal_column">
    *<%= form.label :分布 %>
    <%= form.text_field :distribution %>
  </div>

  <div class="animal_column">
    <%= form.label :絶滅危惧種 %>
    <%= form.select :endangered_species, Animal.endangered_species.keys, prompt: "選択してください" %>
  </div>

  <div class="animal_column">
    *<%= form.label :説明 %>
    <%= form.text_area :content %>
  </div>

  <div class="animal_column">
    <%= form.label :写真 %>
    <%= image_tag(@animal.photo.url) if @animal.photo && @animal.photo.url %>
    <%= form.file_field :photo %>
  </div>

  <div class="animal_column">
    *<%= form.label :界 %>
    <%= form.text_field :kingdom %>
  </div>

  <div class="animal_column">
    *<%= form.label :門 %>
    <%= form.text_field :phylum %>
  </div>

  <div class="animal_column">
    *<%= form.label :網 %>
    <%= form.text_field :animal_class %>
  </div>

  <div class="animal_column">
    *<%= form.label :目 %>
    <%= form.text_field :order %>
  </div>

  <div class="animal_column">
    *<%= form.label :科 %>
    <%= form.text_field :family %>
  </div>

  <div class="animal_column">
    *<%= form.label :属 %>
    <%= form.text_field :genus %>
  </div>

  <div class="animal_column">
    *<%= form.label :種 %>
    <%= form.text_field :species %>
  </div>

  <div class="animal_column">
    <%= form.label :亜種 %>
    <%= form.text_field :subspecies %>
  </div>

  <div class="animal_column">
    <%= form.label :Wikipedia %>
    <%= form.text_field :wikipedia %>
  </div>

  <%= form.submit "登録", class: "btn" %>
<% end %>
<%= link_to "一覧画面にもどる", animals_path %>
