<h1>動物一覧</h1>

<div class="new">
  <%= link_to '新規作成', new_animal_path, class: "new_btn" %>
</div>

<div class="search_result">
  <% @animals.each do |animal| %>
    <div class="chunk">
      <div class="photo_area">
        <%= image_tag animal.photo.url, class: "photo" if animal.photo && animal.photo.url %>
      </div>
      <div class="name">
        <%= link_to animal.name, animal_path(animal.id), id: "show_btn" %>
      </div>
      <div class="content">
        <%= animal.content %>
      </div>
      <div class="option">
        <%= link_to "wikipediaで見る", animal.wikipedia, class: "wikipedia" %>
        <%= link_to '詳細', animal_path(animal.id), class: "option_btn", id: "show_btn" %>
        <%= link_to '編集', edit_animal_path(animal.id), class: "option_btn", id: "edit_btn" %>
        <%= link_to '削除', animal_path(animal.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "option_btn", id: "delete_btn" %>
      </div>
    </div>
  <% end %>
</div>
