<h1>詳細画面</h1>
<p>動物名: <%= @animal.name %></p>
<p>英名: <%= @animal.english_name %></p>
<p>学名: <%= @animal.scientific_name %></p>
<p>分布: <%= @animal.distribution %></p>
<p>絶滅危惧種: <%= @animal.endangered_species %></p>
<p>説明: <%= @animal.content %></p>
<p>写真: <%= image_tag @animal.photo.url if @animal.photo && @animal.photo.url %></p>
<p>界: <%= @animal.kingdom %></p>
<p>門: <%= @animal.phylum %></p>
<p>網: <%= @animal.animal_class %></p>
<p>目: <%= @animal.order %></p>
<p>科: <%= @animal.family %></p>
<p>属: <%= @animal.genus %></p>
<p>種: <%= @animal.species %></p>
<p>亜種: <%= @animal.subspecies %></p>
<%= link_to "一覧画面にもどる", animals_path %>
