<h1>詳細画面</h1>

<% if @favorite_animal.present? %>
  <%= link_to 'お気に入り解除する', favorite_animal_path(id: @favorite_animal.id), method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= link_to 'お気に入りする', favorite_animals_path(animal_id: @animal.id), method: :post, class: 'btn btn-primary' %>
<% end %>

<p>動物名: <%= @animal.name %></p>
<p>英名: <%= @animal.english_name %></p>
<p>学名: <%= @animal.scientific_name %></p>
<p>分布: <%= @animal.distribution %></p>
<p>絶滅危惧種: <%= @animal.endangered_species %></p>
<p>説明: <%= @animal.content %></p>
<p>写真: <%= image_tag @animal.photo.url if @animal.photo && @animal.photo.url %></p>
<p>界: <%= @animal.kingdom %></p>
<p>門: <%= @animal.phylum %></p>
<p>網: <%= @animal.animal_class %></p>
<p>目: <%= @animal.order %></p>
<p>科: <%= @animal.family %></p>
<p>属: <%= @animal.genus %></p>
<p>種: <%= @animal.species %></p>
<p>亜種: <%= @animal.subspecies %></p>
<p>Wikipedia: <%= link_to @animal.wikipedia, @animal.wikipedia %></p>

<p>動物園:
  <ul class="row">
    <% @animal.zoos.each do |zoo| %>
      <li class="col-sm-3">
        <%= link_to zoo.name, zoo_path(zoo.id) %>
      </li>
    <% end %>
  </ul>
</p>

<% if current_user.admin == true %>
  <%= link_to "一覧画面にもどる", animals_path %>
  <%= link_to '編集', edit_animal_path(@animal.id), class: "option_btn" %>
<% end %>
