<h1>ユーザ一覧画面</h1>
<p><%= notice %></p>
<%= link_to '新規作成', new_admin_user_path %>

<ul class="row">
  <% @users.each do |user| %>
    <li class="col-md-4 col-lg-3">
      <div class="chunk">
        <div class="name">
          名前:<%= user.name %>
        </div>

        <div class="email">
          メールアドレス:<%= user.email %>
        </div>

        <div class="password">
          パスワード:<%= user.password %>
        </div>

        <div class="password_confirmation">
          確認用パスワード:<%= user.password_confirmation %>
        </div>

        <div class="live_prefecture">
          住んでいる県:<%= user.live_prefecture %>
        </div>

        <div class="favorite_prefecture">
          よく行く県:<%= user.favorite_prefecture %>
        </div>

        <div class="content">
          自己紹介:<%= user.content %>
        </div>

        <div class="icon">
          アイコン:<%= image_tag user.icon.url, class: "icon" if user.icon && user.icon.url %>
        </div>

        <div class="owner">
          オーナー権限:<%= user.owner %>
        </div>

        <div class="admin">
          管理者権限:<%= user.admin %>
        </div>

        <div class="option">
          <%= link_to '詳細', admin_user_path(user.id), class: "option_btn" %>
          <%= link_to '編集', edit_admin_user_path(user.id), class: "option_btn" %>
          <%= link_to '削除', admin_user_path(user.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "option_btn" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
