<!DOCTYPE html>
<html>
  <head>
    <title>ZooSearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "トップページ", root_path, class: "logo" %>

      <% if logged_in? %>
        ようこそ <%= current_user.name %> さん
        <%= link_to "プロフィール", user_path(current_user.id), class: "header_btn" %>
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class: "header_btn" %>
        <%= link_to "動物園一覧", zoos_path, class: "admin_btn" %>
        <%= link_to "動物一覧", animals_path, class: "admin_btn" %>
        <%= link_to "ユーザ一覧", zoos_path, class: "admin_btn" %>

      <% else %>
        ログインしてください
        <%= link_to "ログイン", new_session_path, class: "header_btn" %>
        <%= link_to "アカウントをつくる", new_user_path, class: "header_btn" %>
      <% end %>

      <div class="information">
        お知らせ：
        『<% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>』

      </div>

    </header>

    <%= yield %>

    <footer>
    </footer>
  </body>
</html>
