<!DOCTYPE html>

<html>
  <head>
    <title>ZooSearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo">
        <%= link_to "トップページ", root_path %>
      </div>

      <% if user_signed_in? %>
        <div class="menu">
          <%= link_to "マイページ", user_path(current_user.id), class: "header_btn" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_btn" %>
        </div>
        <div class="admin_menu">
          <% if current_user.admin == true %>
            <%= link_to "動物園一覧", zoos_path, class: "admin_btn" %>
            <%= link_to "動物一覧", animals_path, class: "admin_btn" %>
            <%= link_to "ユーザ一覧", users_path, class: "admin_btn" %>
          <% end %>
        </div>
        <div class="greet">
          ようこそ <%= current_user.name %> さん
        </div>

      <% else %>

        <div class="menu">
          <%= link_to "ログイン", new_user_session_path, class: "header_btn" %>
          <%= link_to "アカウントをつくる", new_user_registration_path, class: "header_btn" %>
          <%= link_to 'ゲストログイン(一般)', users_guest_sign_in_path, method: :post %>
          <%= link_to 'ゲストログイン(管理者)', users_guest_admin_sign_in_path, method: :post %>
        </div>
        <div class="greet">
          ログインしていません
        </div>
      <% end %>

      <div class="information">
        お知らせ：
        『<% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>』
      </div>

    </header>

    <%= yield %>

    <footer>
      <p class="copyright">&copy; 2021 amechio</p>
    </footer>
  </body>
</html>
